################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/C-2D-Array-Pointers/v16/ipch/AutoPCH/4ca943bf385be9c2/MAIN.ipch
